/* heroContent.css */

.advance-search-tab {
    align-items: center;
    display: flex;
    height: 650px;
    margin-top: 90px !important;
  }
  
  .text-white {
    color: white;
  }
  
  /* Add more custom styles as needed */
  .home-banner-style1 .home-style1 {
    align-items: center;
    display: flex;
    height: 650px;
    margin-top: 90px !important;
}